// RWD
@mixin pad {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

html,
body {
  font-size: 16px;
  font-family: $f_google, $f_default;
}

.container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  max-width: 1200px;
  @include pad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 540px;
  }
}
