// RWD
@mixin pad {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

html,
body {
  font-size: 16px;
  font-family: $f_google, $f_default;
}

.container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  max-width: 1200px;
  @include pad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 540px;
  }
}

.heading {
  margin-bottom: 3.5rem;
  color: $c_sub;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  @include mobile {
    font-size: 2.5rem;
    letter-spacing: 0px;
  }
}
