// Navbar Start
.nav {
  background-color: $c_main;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-icon a {
    display: block;
    margin: 15px 0;
    height: 60px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/icon_light.png) no-repeat center center / contain;
  }
  &-menu li {
    display: inline-block;
    a {
      padding: 1rem 1.5rem;
      color: $c_light;
      font-size: 1.1rem;
      text-decoration: none;
    }
  }
}
// Navbar End

// Banner Start
.banner {
  background: url(../images/banner.png) no-repeat center center / cover;
  height: 60vh;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    padding-right: 3rem;
    color: $c_light;
  }
  &-title {
    font-size: 3rem;
    line-height: 6rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
  }
  &-content {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
}
// Banner End

// Brand Image Start
.brandImage {
  color: $c_sub;
  background-color: #fbf2f2;
  padding: 3.5rem 0;
  text-align: center;
  &-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
  }
  &-list {
    display: flex;
    justify-content: space-around;
  }
  &-item {
    padding: 0px 3rem;
    &-title {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 3rem;
    }
    &-content {
      text-align: justify;
      line-height: 1.3rem;
    }
  }
}
// Brand Image End

// Series Start
.series {
  padding: 3.5rem 0;
  text-align: center;
  &-title {
    margin-bottom: 3.5rem;
    color: $c_sub;
    font-size: 3rem;
    font-weight: bold;
  }
  &-item {
    margin: 2rem 0px;
    display: flex;
    align-items: center;
    color: $c_main;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  &-image {
    width: 70%;
    filter: grayscale(1);
  }
  &-content {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      text-indent: 1rem;
    }
  }
}
// Series End

// Joint Start
.joint {
  padding: 3.5rem 0;
  background: url(../images/background.png) no-repeat center center/ cover;
  text-align: center;
  &-title {
    margin-bottom: 3.5rem;
    color: $c_light;
    font-size: 3rem;
    font-weight: bold;
  }
  &-box {
    display: flex;
    align-items: center;
    img {
      width: 100%;
      padding: 0.25rem;
      box-sizing: border-box;
    }
    &40p {
      width: 42%;
    }
    &60p {
      width: 58%;
    }
    &100p {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  &-btn {
    position: relative;
    width: 25%;
    margin: 0.25rem 10% 0.25rem 0.25rem;
    background-color: #f9ca00;
    &-text {
      position: absolute;
      top: 1.5rem;
      bottom: 1.5rem;
      left: 1.5rem;
      padding: 1rem;
      color: $c_main;
      background-color: $c_light;
      font-size: 2.5rem;
      white-space: nowrap;
      span {
        font-weight: bold;
        margin-right: 1rem;
      }
    }
  }
}
// Joint End
