// Navbar Start
.nav {
  position: sticky;
  background-color: $c_main;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      position: relative;
      justify-content: center;
    }
  }
  &-hamburger {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 45px;
    padding: 10px;
    display: none;
    background-color: transparent;
    border: unset;
    outline: none;
    &-check {
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      margin: 0;
      z-index: 1;
      opacity: 0;
      &:checked ~ .nav-hamburger-bar {
        border-color: $c_main;
        &::before {
          top: -2px;
          transform: rotate(-135deg) scaleX(1.2);
        }
        &::after {
          bottom: -2px;
          transform: rotate(135deg) scaleX(1.2);
        }
      }
    }
    &-bar {
      position: relative;
      display: block;
      border: 2px solid $c_light;
      border-radius: 3px;
      transition: border-color 0.5s;
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -2px;
        display: block;
        width: 100%;
        border: 2px solid $c_light;
        border-radius: 3px;
        transition: 0.5s;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -2px;
        display: block;
        width: 100%;
        border: 2px solid $c_light;
        border-radius: 3px;
        transition: 0.5s;
      }
    }
    @include mobile {
      display: unset;
    }
  }
  &-icon a {
    display: block;
    margin: 15px 0;
    height: 60px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/icon_light.png) no-repeat center center / contain;
    @include mobile {
      margin: 5px auto;
      height: 45px;
    }
  }
  &-menu li {
    display: inline-block;
    a {
      padding: 1rem 1.5rem;
      color: $c_light;
      font-size: 1.1rem;
      text-decoration: none;
    }
    @include mobile {
      display: none;
    }
  }
}
// Navbar End

// Banner Start
.banner {
  background: url(../images/banner.png) no-repeat center center / cover;
  height: 60vh;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    padding-right: 3rem;
    color: $c_light;
    @include mobile {
      padding-right: 0.5rem;
    }
  }
  &-title {
    font-size: 3rem;
    line-height: 6rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    @include pad {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.5rem;
      line-height: 4rem;
      letter-spacing: 0;
    }
  }
  &-content {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    @include pad {
      font-size: 1.3rem;
    }
    @include mobile {
      font-size: 1rem;
    }
  }
}
// Banner End

// Brand Image Start
.brandImage {
  color: $c_sub;
  background-color: #fbf2f2;
  padding: 3.5rem 0;
  text-align: center;
  &-list {
    display: flex;
    justify-content: space-around;
  }
  &-item {
    padding: 0px 3rem;
    &-title {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 3rem;
    }
    &-content {
      text-align: justify;
      line-height: 1.3rem;
    }
  }
}
// Brand Image End

// Series Start
.series {
  padding: 3.5rem 0;
  text-align: center;
  &-item {
    margin: 2rem 0px;
    display: flex;
    align-items: center;
    color: $c_main;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  &-image {
    width: 70%;
    filter: grayscale(1);
  }
  &-content {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      text-indent: 1rem;
    }
  }
}
// Series End

// Joint Start
.joint {
  padding: 3.5rem 0 25rem;
  background: url(../images/background.png) no-repeat center center/ cover;
  text-align: center;
  &-title {
    color: $c_light;
  }
  &-box {
    display: flex;
    align-items: center;
    img {
      width: 100%;
      padding: 0.25rem;
      box-sizing: border-box;
    }
    &40p {
      width: 42%;
    }
    &60p {
      width: 58%;
    }
    &100p {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  &-btn {
    position: relative;
    width: 25%;
    margin: 0.25rem 10% 0.25rem 0.25rem;
    background-color: #f9ca00;
    &-text {
      position: absolute;
      top: 1.5rem;
      bottom: 1.5rem;
      left: 1.5rem;
      padding: 1rem;
      color: $c_main;
      background-color: $c_light;
      font-size: 2.5rem;
      white-space: nowrap;
      span {
        font-weight: bold;
        margin-right: 1rem;
      }
    }
  }
  &-card {
    position: relative;
    display: inline-block;
    margin: 3.5rem 1rem;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    img {
      width: 100%;
      transition: 0.5s;
    }
    .mask {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #ffffff66;
      padding: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      transition: 0.5s;
      h3 {
        color: $c_main;
        font-size: 3rem;
        font-weight: bold;
        line-height: 5rem;
      }
      p {
        color: $c_main;
        font-size: 2rem;
      }
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        border: 10px solid $c_main;
        transform: scale(1.5);
        transition: 0.5s;
      }
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .mask {
        opacity: 1;
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}
// Joint End

// Customer Start
.customer {
  transform: translateY(-40rem);
  height: 0;
  margin-top: 15rem;
  &-title {
    color: $c_light;
  }
  &-content {
    display: flex;
    justify-content: space-between;
  }
  &-card {
    width: 100%;
    max-width: 256px;
    &-img {
      overflow: hidden;
      img {
        transition: 0.3s;
        vertical-align: middle;
      }
    }
    &-content {
      padding: 1rem;
      background-color: $c_light;
      border: 1px solid #dee2e6;
      > * {
        margin-bottom: 1rem;
        line-height: 1.5rem;
      }
      span {
        color: #707070;
      }
    }
    &:hover {
      .customer-card-img img {
        transform: scale(1.1);
      }
    }
  }
}
// Customer End

// Contact Start
.contact {
  padding: 4rem 0;
  background-color: #aa06010d;
  &-title {
    margin-bottom: 0;
  }
  .container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }
  &-content {
    margin: 1.5rem 0;
    line-height: 1.5rem;
  }
  .input-group {
    margin-bottom: 1rem;
    > * {
      width: 100%;
      display: block;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    label {
      margin-bottom: 0.5rem;
    }
    input,
    textarea {
      padding: 0.8rem;
      background-color: transparent;
      border: 1px solid $c_dark;
      outline: none;
      resize: none;
    }
  }
  .checkbox-group {
    input[type="checkbox"] {
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
    }
    label {
      vertical-align: middle;
    }
  }
  &-submit {
    position: relative;
    margin: 2.5rem auto;
    padding: 1rem;
    width: 10rem;
    text-align: center;
    color: $c_light;
    background-color: $c_main;
    border: none;
    outline: none;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 3px solid $c_main;
      z-index: -1;
      transition: 0.1s;
    }
    &:hover::after {
      top: -5px;
      bottom: -5px;
      left: -5px;
      right: -5px;
    }
    &:active {
      opacity: 0.8;
    }
  }
}
// Contact End

// Footer Start
.footer {
  padding: 3rem 0;
  background-color: $c_main;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-list {
    display: flex;
  }
  &-item {
    margin: 0 0.5rem;
    padding: 0.5rem;
    display: block;
    color: $c_light;
    text-decoration: none;
    &:hover {
      background-color: $c_sub;
      border-radius: 5px;
    }
  }
  &-icon {
    margin: 0 0.5rem;
    padding: 0.5rem;
    color: $c_light;
    font-size: 2.5rem;
  }
  &-info {
    margin-left: 1rem;
    display: block;
    color: $c_light;
    font-size: 1.8rem;
    line-height: 3rem;
    text-decoration: none;
    span {
      margin-left: 1rem;
    }
  }
  &-line {
    margin: 1rem 0;
    border: 1px solid $c_light;
  }
  &-title {
    display: flex;
    align-items: center;
    color: $c_light;
    img {
      width: 60px;
      height: 60px;
      margin-right: 1rem;
    }
  }
}
// Footer End
