@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

// Colors
$c_light: #ffffff;
$c_dark: #000000;
$c_main: #aa0601;
$c_sub: #650300;

// Fonts
$f_google: "Noto Sans TC";
$f_default: "sans-serif";
