@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Noto+Sans+TC:wght@300&display=swap");

// Colors
$c_light: #ffffff;
$c_dark: #000000;
$c_main: #aa0601;
$c_sub: #650300;

// Fonts
$f_tw: "Roboto";
$f_en: "Noto Sans TC";
